# ================================
# Python
# ================================
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*$py.class

# ================================
# Virtual Environment
# ================================
cnnenv/
venv/
env/
ENV/

# ================================
# Jupyter Notebook
# ================================
.ipynb_checkpoints/

# ================================
# VS Code
# ================================
.vscode/

# ================================
# Streamlit
# ================================
.streamlit/

# ================================
# System Files
# ================================
.DS_Store
Thumbs.db

# ================================
# Logs
# ================================
*.log

# ================================
# Large Files (IMPORTANT)
# ================================
Vegetable Images/
*.h5
*.keras
*.pt
*.pth

# ================================
# Build / Cache
# ================================
.cache/
*.cache

# ================================
# Temporary Files
# ================================
*.tmp
*.temp

# ================================
# Environment Variables
# ================================
.env